#overview-section, .data-section, .notebooks-section, .discussion-section, .leaderboard-section{
  max-width: 1200px;
}
.progress-bar{
  padding: 24px;
  align-items: flex-start;
}
.progress-bar .div1{
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}
.progress-bar .div1 hr{
  left: calc(-50% + 20px);
  right: calc(50% + 20px);
  position: absolute;
  border-top: 4px solid;
}
.overview-content{
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: -8px;
}
.section01{
  border-right: 0.6px solid rgb(179, 179, 179);
}
.data-section a{
  color: #0d6efd;
}
.data-section p a:hover{
  text-decoration: underline;
}
.data-section .side{
  margin: 0rem 0;
  border-right: 1px solid;
  height: auto;
  align-self: stretch;
  width: 1px;
  margin-left: 72px;
}
.bar{
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 12px;
}
.form-control, .bar{
  border-radius: 50px;
}
#navbar .dropdown-menu{
  top: -9%;
  min-width: 4rem;
  font-size: smaller;
}
.side-bar span{
  margin: 0;
}
.banner-box{
    border-radius: 4px;
  }
  .position{
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .position01 ,.position02, .position03{
    border-radius: 0.2em;
    min-width: 350px;
  }
  .position01{
    background: rgba(255, 215, 0, 0.1);
    border: 1px solid rgb(255, 215, 0);
    
  }
  .position02{
    background: rgba(187, 187, 187, 0.1);
    border: 1px solid rgb(187, 187, 187);
  }
  .position03{
    background: rgba(205, 127, 50, 0.1);
    border: 1px solid rgb(205, 127, 50);
  }
  .black-section{
    color: white;
  }
  .bg-box{
    background-color:black;
  }
  .close-button1{
    display:none;
  }
.pagination>li>a, .pagination>li>span { 
  border-radius: 50% !important;
  margin: 0 5px;
}
@media screen and (min-width: 1200px) {
  #banner-section-01, #overview-section, .data-section, .notebooks-section, .discussion-section, .leaderboard-section{
      text-align: auto;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
  }
}
  .left-window,#banner-section-01{
    background-size: cover;
    background-image: url(../images/card-img.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
  }
  @media (max-width: 665px){
    .navbar .erase{
      display: none ;
    }
    .nav{
      font-size: small !important;
      padding-bottom: 0;

    }
    .nav li a{
      padding-left: 6px;
      padding-right: 6px;
    }
    .navbar form button{
      display: hidden !important;
    }
    .section01{
    position: sticky;
    top: 60px;
    z-index: 1;
    padding: 0 !important;
    }
    .black-section{
      color:black;
    }
    .bg-box{
      background-color:rgb(248,249,250);
    }
    .side-bar{
      flex-direction : row !important;
      font-size: large;
      padding-top: 10px;
      padding-bottom: 10px;
      /*border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    margin-bottom: 4pxpx;
    border: 1px solid;*/
   }
  .side-bar span {
    cursor: pointer;
    position: relative;
    text-align: center;
  }
  .side-bar .act{
    background-color: inherit !important;
  }
  .side-bar span .act:hover{
    color: black;
  }
  .side-bar span.act::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-color: rgb(70, 70, 70);
    left: 0;
    bottom: -7px;
    border-radius: 20px;
    animation: appear 0.2s linear;
  }
  }
@media (max-width:988px) {
  .close-button1{
    display:block;
  }
}